:root {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --color-primary: hsl(0, 0%, 95%);
    --color-secondary: hsl(0, 0%, 88%);
    --fs-big: 1.3em;
    --fs-p: 1em;
    --fs-f: 0.5em;
    --fs-modal: 0.5em;
}

@media (min-width: 55em) {
    :root {
        --fs-big: 3em;
        --fs-p: 2.2em;
        --fs-f: 1em;
        --fs-modal: 1em;
    }
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

body {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

p {
    font-size: var(--fs-p, 1.5em);
    line-height: 1.5em;
    max-width: 50ch;
    color: var(--color-primary, lightgrey);
    font-family: monospace;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: rgb(202, 99, 188);
}
